#attachments.page {
  clear: both;
  color: #333;
  background: #f5f1e2 url(/images/admin/vertical_tan_gradient.png) repeat-x top;
  margin: 10px 0;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
#attachments.page .toolbar {
  float: right;
  padding: 6px 6px 0;
  width: 50px;
  text-align: right;
}
#attachments.page .toolbar img {
  padding: 5px;
  cursor: pointer;
}
#attachments.page h3 {
  font-size: 16px;
  padding: 7px 0;
}
#attachments.page h3, #attachments.page p.notice {
  background: #eae3c5;
  margin: 0;
  padding: 0.5em;
}
#content #attachments.page a { color: #000;}
.attachment_upload {
  padding: 0 0.8em 0.8em 0.8em;
}
.sample_attachment_code { float: right; color: #886;}
#attachments.page p.notice {
  padding: .5em .8em;
  font-style: italic;
  font-size: 90%;
  color: red;
}
#attachments.page .attachment_upload img,
#attachments.page .attachment img.delete {
  cursor: pointer;
  padding: 2px;
  margin-left:7px;
}
#attachments.page .attachment img.drag_order {
  cursor: move;
  float: right;
  padding: 2px;
  margin-right:6px;
}
#attachments.page ol {
  list-style: none;
  padding: 0 10px 0 10px;
  margin: 0;
}
#attachments.page ol li {
  margin-left: 0;
}
.attachment_remover {
  float: left;
  width: 25px;
}
#attachments.page ol li a.thumbnail {
  float: left;
  margin: 0 10px 0 10px;
}
#attachments.page ol li p {
  margin: 0 0 5px 0;
}
#attachments.page ol li {
  border-bottom: 1px dashed #cccccc;
  width: 100%;
  padding: 8px 0;
}
#attachments.page ol li:last-child {
  border-bottom: none;
}
#attachments.page .attachment .thumbnail img {
  background: white;
  border: 1px solid #d4cba4;
  padding: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
#attachments.page p.title {
  border-bottom: 1px #eae3c5 solid;
  width: 66%;
  font-size: 17px;
  font-weight: bold;
  margin: 1em 0 ;
}

#content #attachments p a:link, #content #attachments p a:visited {
  color: #06C;
}

#content #attachments p a:link:focus, #content #attachments p a:visited:focus {
  
}

#content #attachments p a:link {
  
}

#content #attachments p a:visited {
  
}

#content #attachments p a:link:hover, #content #attachments p a:visited:hover {
  
}

#content #attachments p a:link:active, #content #attachments p a:visited:active {
  
}

#attachments table {
  margin-top: 1em;
}
#attachments table th {
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
  width: 120px;
  padding-bottom: 5px;
}
#attachments table td {
 padding-bottom: 5px;
}
#attachments li.attachment.deleted em {
  color: #ff0000;
  margin: 0 0 10px 20px;
}
#attachments li.attachment.deleted a {
  opacity: 0.5;
  text-decoration: line-through;
}
#attachments li.attachment.deleted img.delete {
  visibility: hidden;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display:inline-block;
}
.clearfix {
  display:block;
}
li.clearfix {
  display: list-item;
}

#switch_layout {
  position: absolute;
  top: 2.45em;
  right: 0.8em;
  z-index: 99;
}

#switch_layout a {
  background-color: #000;
  border-radius: 10px;
  color: #FFF;
  font-size: 71.5%;
  font-weight: bold;
  margin: 0;
  -moz-opacity: 0.8;
  filter:alpha(opacity=80);
  opacity: 0.8;
  padding: 4px 10px;
  text-decoration: none;
}

#grid {
  margin: 1em;
}

#grid div {
  background-color: #EEE;
  border-radius: 3px;
  float: left;
  margin-top: 0;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0;
  padding: 0 1em;
  width: 205px;
}

#grid div div {
  background-color: transparent;
  margin: 0.5em 0 1em 0;
  padding: 0;
}

#grid div div input {
  width: 195px;
}

#grid div h2 {
  background-color: inherit;
  color: #222;
  font-size: 100%;
  margin: 1em 0 0.5em 0
}

#grid div h2 span {
  display: inline;
}

#grid div span {
  display: block;
  height: 100px;
}

#grid div span img {
  max-height: 100px;
  width: 100px;
}

#grid div p {
  background-color: inherit;
  color: #666;
  font-size: 85.714285714285714285%;
  margin: 0.5em 0 0.5em 0;
}

#grid div p span {
  display: inline;
}
